<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project_6/blob/main/Ambient.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import NullType
from pyspark.sql.functions import col

In [3]:
spark = SparkSession.builder.appName('SparkSQLFilter').getOrCreate()

In [4]:
url = "https://raw.githubusercontent.com/LuisaPolicarpo/Project_6/main/Datasets/EXP_PM2_5_26012023152536994.csv"
from pyspark import SparkFiles
spark.sparkContext.addFile(url)

df_25 = spark.read.csv("file://"+SparkFiles.get("EXP_PM2_5_26012023152536994.csv"), header=True, inferSchema= True)

In [5]:
df_25.show()

+---+---------+------------------------+------------------------+------------------------+------------------------+------+--------------------+----+----+---------+--------------------+--------------+---------+---------------------+----------------+-----+----------+---------------+
|COU|  Country|SMALL_SUBNATIONAL_REGION|Small subnational region|LARGE_SUBNATIONAL_REGION|Large subnational region|   VAR|            Variable| YEA|Year|Unit Code|                Unit|PowerCode Code|PowerCode|Reference Period Code|Reference Period|Value|Flag Codes|          Flags|
+---+---------+------------------------+------------------------+------------------------+------------------------+------+--------------------+----+----+---------+--------------------+--------------+---------+---------------------+----------------+-----+----------+---------------+
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|1990|1990| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.76|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|1995|1995| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.46|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2000|2000| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.45|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2001|2001| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.58|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2002|2002| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null|  7.6|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2003|2003| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.91|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2004|2004| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null|  7.0|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2005|2005| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 6.98|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2006|2006| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.53|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2007|2007| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.17|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2008|2008| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.05|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2009|2009| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.79|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2010|2010| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 6.93|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2011|2011| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.31|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2012|2012| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.52|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2013|2013| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.42|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2014|2014| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.37|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2015|2015| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.17|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2016|2016| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null|  7.2|         E|Estimated value|
|AUS|Australia|                      NA|          Not applicable|                   TOTAL|                   Total|PWM_EX|Mean population e...|2017|2017| MICRO_M3|Micrograms per cu...|             0|    Units|                 null|            null| 7.41|         E|Estimated value|
+---+---------+------------------------+------------------------+------------------------+------------------------+------+--------------------+----+----+---------+--------------------+--------------+---------+---------------------+----------------+-----+----------+---------------+
only showing top 20 rows

In [6]:
df_25_country = df_25.groupBy('Country').count().show()

+--------------------+-----+
|             Country|count|
+--------------------+-----+
|       Côte d'Ivoire|   23|
|                Chad|   23|
|            Anguilla|   23|
|            Paraguay|   23|
|              Russia|   23|
|               Yemen|   23|
|               World|   14|
|      Chinese Taipei|   23|
|Middle East and N...|   14|
|             Senegal|   23|
|              Sweden|   23|
|          Cabo Verde|   23|
|             Tokelau|   23|
|            Kiribati|   23|
|              Guyana|   23|
|             Eritrea|   23|
|         Philippines|   23|
|              Jersey|   23|
|            Djibouti|   23|
|      Norfolk Island|   14|
+--------------------+-----+
only showing top 20 rows

In [7]:
df_25_flags = df_25.groupBy('Flags').count().show()

+---------------+-----+
|          Flags|count|
+---------------+-----+
|Estimated value| 5357|
|           null|  140|
+---------------+-----+

In [8]:
df_25_unit= df_25.groupBy('Unit').count().show()

+--------------------+-----+
|                Unit|count|
+--------------------+-----+
|Micrograms per cu...| 5497|
+--------------------+-----+

In [9]:
df_25_year= df_25.groupBy('Year').count().sort("Year", ascending= True).show() # check the years!!

+----+-----+
|Year|count|
+----+-----+
|1990|  248|
|1995|  248|
|2000|  248|
|2001|  225|
|2002|  225|
|2003|  225|
|2004|  225|
|2005|  248|
|2006|  225|
|2007|  225|
|2008|  225|
|2009|  225|
|2010|  248|
|2011|  248|
|2012|  248|
|2013|  248|
|2014|  248|
|2015|  248|
|2016|  248|
|2017|  248|
+----+-----+
only showing top 20 rows

In [10]:
df_25_Variable= df_25.groupBy('Variable').count().show()

+--------------------+-----+
|            Variable|count|
+--------------------+-----+
|Mean population e...| 5497|
+--------------------+-----+

In [11]:
df_25_Large= df_25.groupBy('Large subnational region').count().show()

+------------------------+-----+
|Large subnational region|count|
+------------------------+-----+
|                   Total| 5497|
+------------------------+-----+

In [12]:
df_25_small= df_25.groupBy('SMALL_SUBNATIONAL_REGION').count().show()

+------------------------+-----+
|SMALL_SUBNATIONAL_REGION|count|
+------------------------+-----+
|                      NA| 5497|
+------------------------+-----+

In [13]:
df_25_var= df_25.groupBy('VAR').count().show()

+------+-----+
|   VAR|count|
+------+-----+
|PWM_EX| 5497|
+------+-----+

In [14]:
df_25_cod= df_25.groupBy('Unit Code').count().show()

+---------+-----+
|Unit Code|count|
+---------+-----+
| MICRO_M3| 5497|
+---------+-----+

In [15]:
df_25_PowerCode= df_25.groupBy('PowerCode Code').count().show()

+--------------+-----+
|PowerCode Code|count|
+--------------+-----+
|             0| 5497|
+--------------+-----+

In [16]:
df_25_final = df_25.drop("COU", "SMALL_SUBNATIONAL_REGION","Small subnational region", "Large subnational region","LARGE_SUBNATIONAL_REGION", "Unit Code", "VAR", "Variable", "YEA","PowerCode Code", "Unit", "Unit Code", "PowerCode","Reference Period Code","Reference Period","Flag Codes","Flags" )

In [17]:
df_25_final.show()

+---------+----+-----+
|  Country|Year|Value|
+---------+----+-----+
|Australia|1990| 7.76|
|Australia|1995| 7.46|
|Australia|2000| 7.45|
|Australia|2001| 7.58|
|Australia|2002|  7.6|
|Australia|2003| 7.91|
|Australia|2004|  7.0|
|Australia|2005| 6.98|
|Australia|2006| 7.53|
|Australia|2007| 7.17|
|Australia|2008| 7.05|
|Australia|2009| 7.79|
|Australia|2010| 6.93|
|Australia|2011| 7.31|
|Australia|2012| 7.52|
|Australia|2013| 7.42|
|Australia|2014| 7.37|
|Australia|2015| 7.17|
|Australia|2016|  7.2|
|Australia|2017| 7.41|
+---------+----+-----+
only showing top 20 rows

In [18]:
df_final_country = df_25_final.groupBy('Country', 'Year').avg('Value').sort("Year", ascending= True)

In [19]:
df_final_country.show()

+--------------------+----+----------+
|             Country|Year|avg(Value)|
+--------------------+----+----------+
|              Guyana|1990|     22.66|
|            Pakistan|1990|     62.29|
|              Sweden|1990|      10.9|
|      United Kingdom|1990|     18.28|
|                Niue|1990|      6.51|
|         Puerto Rico|1990|      7.08|
|             Tokelau|1990|      7.17|
|                Peru|1990|     79.01|
|   Brunei Darussalam|1990|       8.1|
|            Djibouti|1990|     39.59|
|            Bulgaria|1990|     27.83|
|               Congo|1990|     26.62|
|                Cuba|1990|     20.98|
|             Hungary|1990|     25.18|
|             Belarus|1990|     33.53|
|               Ghana|1990|      61.2|
|Sao Tome and Prin...|1990|     24.81|
|                Chad|1990|     55.48|
|               Korea|1990|     25.94|
|              Guinea|1990|      48.6|
+--------------------+----+----------+
only showing top 20 rows

In [20]:
df_final_year = df_25_final.groupBy('Year').avg('Value').sort("Year", ascending= True).show()

#arrendar se necessário

+----+------------------+
|Year|        avg(Value)|
+----+------------------+
|1990|26.301798387096774|
|1995| 25.27318548387097|
|2000| 26.33268951612904|
|2001|25.114399999999982|
|2002| 25.61635555555554|
|2003|25.566133333333326|
|2004| 25.36097777777777|
|2005| 24.98936693548387|
|2006| 24.64817777777778|
|2007|25.427688888888895|
|2008|25.084177777777764|
|2009|24.179333333333325|
|2010|22.180205645161294|
|2011|24.691282258064504|
|2012|25.173290322580637|
|2013|24.336842741935477|
|2014|23.564423387096763|
|2015|25.539008064516125|
|2016| 24.37410483870967|
|2017| 23.73243548387095|
+----+------------------+
only showing top 20 rows

# Dataset green- Mortality from exposition

In [21]:
url2 = "https://raw.githubusercontent.com/LuisaPolicarpo/Project_6/main/Datasets/GREEN_GROWTH_26012023160453447.csv"
from pyspark import SparkFiles
spark.sparkContext.addFile(url2)

df_gg = spark.read.csv("file://"+SparkFiles.get("GREEN_GROWTH_26012023160453447.csv"), header=True, inferSchema= True)

In [22]:
df_gg.show()

+---+-------+------+--------------------+----+----+----------+--------------------+--------------+---------+---------------------+----------------+-------+----------+-----+
|COU|Country|   VAR|            Variable| YEA|Year| Unit Code|                Unit|PowerCode Code|PowerCode|Reference Period Code|Reference Period|  Value|Flag Codes|Flags|
+---+-------+------+--------------------+----+----+----------+--------------------+--------------+---------+---------------------+----------------+-------+----------+-----+
|LVA| Latvia|PM_MOR|Mortality from ex...|1990|1990|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 993.94|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1991|1991|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1009.85|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1992|1992|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1048.59|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1993|1993|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1181.37|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1994|1994|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1278.66|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1995|1995|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1192.72|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1996|1996|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1022.56|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1997|1997|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 968.07|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1998|1998|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 984.47|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1999|1999|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 918.62|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2000|2000|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 888.39|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2001|2001|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 937.02|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2002|2002|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 929.93|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2003|2003|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 925.71|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2004|2004|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 921.06|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2005|2005|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|  958.4|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2006|2006|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1011.48|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2007|2007|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1005.82|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2008|2008|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|  952.9|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2009|2009|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|  928.0|      null| null|
+---+-------+------+--------------------+----+----+----------+--------------------+--------------+---------+---------------------+----------------+-------+----------+-----+
only showing top 20 rows

In [23]:
df_gg_VAR= df_gg.groupBy('VAR').count().show()

+------+-----+
|   VAR|count|
+------+-----+
|PM_MOR| 6240|
+------+-----+

In [24]:
df_gg_Variable= df_gg.groupBy('Variable').count().show()

+--------------------+-----+
|            Variable|count|
+--------------------+-----+
|Mortality from ex...| 6240|
+--------------------+-----+

In [29]:
df_gg_year= df_gg.groupBy('Year').count().sort("Year", ascending= True).show()

+----+-----+
|Year|count|
+----+-----+
|1990|  208|
|1991|  208|
|1992|  208|
|1993|  208|
|1994|  208|
|1995|  208|
|1996|  208|
|1997|  208|
|1998|  208|
|1999|  208|
|2000|  208|
|2001|  208|
|2002|  208|
|2003|  208|
|2004|  208|
|2005|  208|
|2006|  208|
|2007|  208|
|2008|  208|
|2009|  208|
+----+-----+
only showing top 20 rows

In [30]:
df_gg_UnitCode= df_gg.groupBy('Unit Code').count().show()

+----------+-----+
| Unit Code|count|
+----------+-----+
|1000000HAB| 6240|
+----------+-----+

In [31]:
df_gg_Unit= df_gg.groupBy('Unit').count().show()

+--------------------+-----+
|                Unit|count|
+--------------------+-----+
|Per 1 000 000 inh...| 6240|
+--------------------+-----+

In [33]:
df_gg_PowerCode = df_gg.groupBy('PowerCode Code').count().show()

+--------------+-----+
|PowerCode Code|count|
+--------------+-----+
|             0| 6240|
+--------------+-----+

In [34]:
df_gg_PowerCoderef = df_gg.groupBy('Reference Period Code').count().show()

+---------------------+-----+
|Reference Period Code|count|
+---------------------+-----+
|                 null| 6240|
+---------------------+-----+

In [35]:
df_gg_Flags = df_gg.groupBy('Flags').count().show()

+-----+-----+
|Flags|count|
+-----+-----+
| null| 6240|
+-----+-----+

In [36]:
df_gg.show()

+---+-------+------+--------------------+----+----+----------+--------------------+--------------+---------+---------------------+----------------+-------+----------+-----+
|COU|Country|   VAR|            Variable| YEA|Year| Unit Code|                Unit|PowerCode Code|PowerCode|Reference Period Code|Reference Period|  Value|Flag Codes|Flags|
+---+-------+------+--------------------+----+----+----------+--------------------+--------------+---------+---------------------+----------------+-------+----------+-----+
|LVA| Latvia|PM_MOR|Mortality from ex...|1990|1990|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 993.94|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1991|1991|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1009.85|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1992|1992|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1048.59|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1993|1993|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1181.37|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1994|1994|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1278.66|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1995|1995|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1192.72|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1996|1996|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1022.56|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1997|1997|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 968.07|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1998|1998|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 984.47|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|1999|1999|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 918.62|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2000|2000|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 888.39|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2001|2001|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 937.02|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2002|2002|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 929.93|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2003|2003|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 925.71|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2004|2004|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null| 921.06|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2005|2005|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|  958.4|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2006|2006|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1011.48|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2007|2007|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|1005.82|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2008|2008|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|  952.9|      null| null|
|LVA| Latvia|PM_MOR|Mortality from ex...|2009|2009|1000000HAB|Per 1 000 000 inh...|             0|    Units|                 null|            null|  928.0|      null| null|
+---+-------+------+--------------------+----+----+----------+--------------------+--------------+---------+---------------------+----------------+-------+----------+-----+
only showing top 20 rows

In [40]:
df_gg_final = df_gg.drop("COU", "Unit Code", "VAR","YEA","PowerCode Code", "Unit", "Unit Code", "PowerCode","Reference Period Code","Reference Period","Flag Codes","Flags")

In [42]:
df_gg_final_country = df_gg_final.groupBy('Country', 'Year').avg('Value').sort("Year", ascending= True).show()

+--------------------+----+----------+
|             Country|Year|avg(Value)|
+--------------------+----+----------+
|                Chad|1990|    131.52|
|                Iran|1990|    435.05|
|              Guinea|1990|     195.6|
|            Botswana|1990|    180.09|
|             Morocco|1990|    298.23|
|                Peru|1990|    280.63|
|             Vanuatu|1990|     90.49|
|               Congo|1990|    223.28|
|      United Kingdom|1990|    722.56|
|              Brazil|1990|    200.83|
|              Guyana|1990|    430.85|
|             Hungary|1990|   1080.22|
|              Sweden|1990|    314.52|
|               Ghana|1990|    236.78|
|            Bulgaria|1990|   1352.45|
|Sao Tome and Prin...|1990|    144.37|
|         Saint Lucia|1990|    273.08|
|               Korea|1990|    417.57|
|            Djibouti|1990|    120.32|
|                Togo|1990|    147.06|
+--------------------+----+----------+
only showing top 20 rows

In [43]:
df_gg_final_year = df_gg_final.groupBy('Year').avg('Value').sort("Year", ascending= True).show()

+----+------------------+
|Year|        avg(Value)|
+----+------------------+
|1990|346.60697115384625|
|1991|347.58802884615363|
|1992| 350.8345192307692|
|1993|357.06774038461543|
|1994| 360.2563461538458|
|1995| 361.0647596153848|
|1996|359.14754807692304|
|1997|359.34817307692305|
|1998| 359.0308653846154|
|1999|359.88182692307686|
|2000|357.59620192307676|
|2001| 355.7557692307694|
|2002| 356.3358173076925|
|2003| 355.9631250000002|
|2004|352.30298076923066|
|2005| 353.2630769230767|
|2006| 351.6406250000001|
|2007| 353.2014423076925|
|2008| 355.2285576923078|
|2009| 355.8989903846151|
+----+------------------+
only showing top 20 rows

# Social context

In [44]:
url3 = "https://raw.githubusercontent.com/LuisaPolicarpo/Project_6/main/Datasets/socio_context.csv"
from pyspark import SparkFiles
spark.sparkContext.addFile(url3)

df_sc = spark.read.csv("file://"+SparkFiles.get("socio_context.csv"), header=True, inferSchema= True)

In [45]:
df_sc.show()

+---+---------+--------+-------------------+----+----+---------+---------+--------------+---------+---------------------+----------------+--------+----------+---------------+
|COU|  Country|     VAR|           Variable| YEA|Year|Unit Code|     Unit|PowerCode Code|PowerCode|Reference Period Code|Reference Period|   Value|Flag Codes|          Flags|
+---+---------+--------+-------------------+----+----+---------+---------+--------------+---------+---------------------+----------------+--------+----------+---------------+
|AUS|Australia|GDP_RCAP|Real GDP per capita|1990|1990|      USD|US Dollar|             0|    Units|                 2015|            2015|29850.87|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1991|1991|      USD|US Dollar|             0|    Units|                 2015|            2015|29599.13|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1992|1992|      USD|US Dollar|             0|    Units|                 2015|            2015|30454.25|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1993|1993|      USD|US Dollar|             0|    Units|                 2015|            2015|31386.17|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1994|1994|      USD|US Dollar|             0|    Units|                 2015|            2015|32293.66|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1995|1995|      USD|US Dollar|             0|    Units|                 2015|            2015|33167.72|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1996|1996|      USD|US Dollar|             0|    Units|                 2015|            2015|34049.68|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1997|1997|      USD|US Dollar|             0|    Units|                 2015|            2015|35237.17|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1998|1998|      USD|US Dollar|             0|    Units|                 2015|            2015|36616.83|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|1999|1999|      USD|US Dollar|             0|    Units|                 2015|            2015|37631.38|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2000|2000|      USD|US Dollar|             0|    Units|                 2015|            2015|37962.63|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2001|2001|      USD|US Dollar|             0|    Units|                 2015|            2015|38975.05|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2002|2002|      USD|US Dollar|             0|    Units|                 2015|            2015|39733.15|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2003|2003|      USD|US Dollar|             0|    Units|                 2015|            2015|40935.01|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2004|2004|      USD|US Dollar|             0|    Units|                 2015|            2015|41776.92|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2005|2005|      USD|US Dollar|             0|    Units|                 2015|            2015|42402.56|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2006|2006|      USD|US Dollar|             0|    Units|                 2015|            2015|43414.66|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2007|2007|      USD|US Dollar|             0|    Units|                 2015|            2015|44150.67|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2008|2008|      USD|US Dollar|             0|    Units|                 2015|            2015|44084.18|         E|Estimated value|
|AUS|Australia|GDP_RCAP|Real GDP per capita|2009|2009|      USD|US Dollar|             0|    Units|                 2015|            2015|44137.88|         E|Estimated value|
+---+---------+--------+-------------------+----+----+---------+---------+--------------+---------+---------------------+----------------+--------+----------+---------------+
only showing top 20 rows

In [47]:
df_sc_Country = df_sc.groupBy('Country').count().show()

+--------------------+-----+
|             Country|count|
+--------------------+-----+
|       Côte d'Ivoire|  638|
|                Chad|  595|
|              Russia|  581|
|            Paraguay|  637|
|            Anguilla|  352|
|               World|  384|
|               Yemen|  595|
|Middle East and N...|  370|
|             Senegal|  621|
|              Sweden|  640|
|          Cabo Verde|  608|
|             Tokelau|  288|
|            Kiribati|  597|
|              Guyana|  638|
|         Philippines|  630|
|             Eritrea|  467|
|            Djibouti|  502|
|               Tonga|  564|
|            Malaysia|  638|
|           Singapore|  620|
+--------------------+-----+
only showing top 20 rows

In [48]:
df_sc_VAr = df_sc.groupBy('VAR').count().show()

+-------------+-----+
|          VAR|count|
+-------------+-----+
|     LTAX_GDP| 3671|
|  POP_NETMIGR| 7334|
|   POP_SWOMEN| 7389|
|    POP_A1564| 7389|
|    SRVGDP_PC| 5510|
|POP_FERTILITY| 7417|
|          POP| 7392|
|       POPDEN| 7030|
|    LTAX_TTAX| 3696|
|     GDP_RCAP| 6486|
|    AGRGDP_PC| 5510|
|  POP_LIFEEXP| 7417|
|    INDGDP_PC| 5510|
|      GDP_R00| 6385|
|    POP_A0014| 7389|
|    POP_A65UP| 7389|
|        GDP_R| 6485|
|          DEF| 6223|
|           XR| 6464|
|          PPP| 6019|
+-------------+-----+

In [49]:
df_sc_VAriance = df_sc.groupBy('Variable').count().show()

+--------------------+-----+
|            Variable|count|
+--------------------+-----+
|       Net migration| 7334|
| Real GDP per capita| 6486|
|Population, ages ...| 7389|
|Population, ages ...| 7389|
|Life expectancy a...| 7417|
|          Population| 7392|
|Total fertility r...| 7417|
|Labour tax revenu...| 3696|
|Labour tax revenu...| 3671|
|Population, ages ...| 7389|
|Value added in in...| 5510|
|Women, % total po...| 7389|
|Value added in ag...| 5510|
|Population densit...| 7030|
|Value added in se...| 5510|
|Real GDP, Index 2...| 6385|
|            Real GDP| 6485|
|        GDP deflator| 6223|
|Purchasing power ...| 6019|
|Nominal exchange ...| 6464|
+--------------------+-----+

In [ ]:
# real gdp, population ages, life expen, fertility, women, population density, purchasing power

**GDP** indicates the share of a country's output that is collected by the government through taxes


**POP_NETMIGR** the number of immigrants minus the number of emigrants, including citizens and noncitizens

**POP_SWOMEN** number of women

**POP_A1564** 

**SRVGDP_PC** GDP per capita ????????

**POP_FERTILITY** number of children

**POP** Population

**POPDEN** is the concentration of individuals within a species in a specific geographic locale

**LTAX_TTAX** Tax?????????????

**GDP_RCAP** ???????

**AGRGDP_PC**

**POP_LIFEEXP** life exp.

**INDGDP_PC** indice gdp

**GDP_R00** 

**POP_A0014**

**POP_A65UP**

**DEF**

**XR**

**PPP**