<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project_6/blob/main/Sc_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

In [2]:
df_sc_pandas = pd.read_csv("https://raw.githubusercontent.com/LuisaPolicarpo/Project_6/main/Datasets/socio_context.csv")

In [3]:
df_sc_pandas_du = pd.get_dummies(df_sc_pandas, columns=['Variable'])

In [4]:
df_sc_pandas_du.columns

Index(['COU', 'Country', 'VAR', 'YEA', 'Year', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags',
       'Variable_GDP deflator', 'Variable_Labour tax revenue, % GDP',
       'Variable_Labour tax revenue, % total tax revenue',
       'Variable_Life expectancy at birth', 'Variable_Net migration',
       'Variable_Nominal exchange rate', 'Variable_Population',
       'Variable_Population density, inhabitants per km2',
       'Variable_Population, ages 0-14, % total',
       'Variable_Population, ages 15-64, % total',
       'Variable_Population, ages 65 and above, % total',
       'Variable_Purchasing power parity', 'Variable_Real GDP',
       'Variable_Real GDP per capita', 'Variable_Real GDP, Index 2000=100',
       'Variable_Total fertility rate, children per woman',
       'Variable_Value added in agriculture, % of total value added',
       'Variable_Value added in industry, % of total value added',
       'Variable_Value added in services, % of total value added',
       'Variable_Women, % total population'],
      dtype='object')

In [5]:
df_sc_pandas_final= df_sc_pandas_du.drop(columns=["COU", 'YEA','Unit Code', 'PowerCode Code', 'PowerCode', 'Reference Period Code', 'Flag Codes', 'Flags',
       'Variable_GDP deflator', 'Variable_Labour tax revenue, % GDP',
       'Variable_Labour tax revenue, % total tax revenue', 'Variable_Nominal exchange rate', 'Variable_Purchasing power parity','Variable_Real GDP, Index 2000=100'])

In [31]:
df_sc_pandas_final.columns

Index(['Country', 'VAR', 'Year', 'Unit', 'Reference Period', 'Value',
       'Variable_Life expectancy at birth', 'Variable_Net migration',
       'Variable_Population',
       'Variable_Population density, inhabitants per km2',
       'Variable_Population, ages 0-14, % total',
       'Variable_Population, ages 15-64, % total',
       'Variable_Population, ages 65 and above, % total', 'Variable_Real GDP',
       'Variable_Real GDP per capita',
       'Variable_Total fertility rate, children per woman',
       'Variable_Value added in agriculture, % of total value added',
       'Variable_Value added in industry, % of total value added',
       'Variable_Value added in services, % of total value added',
       'Variable_Women, % total population',
       'Variable_Population, ages 65 and above, % total_2',
       '\tVariable_Life expectancy at birth'],
      dtype='object')

In [19]:
df_sc_pandas_final['Variable_Population, ages 65 and above, % total'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Population, ages 65 and above, % total'])

In [23]:
df_sc_pandas_final['Variable_Life expectancy at birth'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Life expectancy at birth'])

In [25]:
df_sc_pandas_final['Variable_Net migration'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Net migration'])

In [27]:
df_sc_pandas_final['Variable_Population'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Population'])

In [28]:
df_sc_pandas_final['Variable_Population density, inhabitants per km2'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Population density, inhabitants per km2'])

In [32]:
df_sc_pandas_final['Variable_Population, ages 0-14, % total'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Population, ages 0-14, % total'])

In [33]:
df_sc_pandas_final['Variable_Population, ages 15-64, % total'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Population, ages 15-64, % total'])

In [36]:
df_sc_pandas_final['Variable_Real GDP per capita'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Real GDP per capita'])

In [37]:
df_sc_pandas_final['Variable_Total fertility rate, children per woman'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Total fertility rate, children per woman'])

In [38]:
df_sc_pandas_final['Variable_Value added in agriculture, % of total value added'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Value added in agriculture, % of total value added'])

In [39]:
df_sc_pandas_final['Variable_Value added in industry, % of total value added'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Value added in industry, % of total value added'])

In [40]:
df_sc_pandas_final['Variable_Value added in services, % of total value added'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Value added in services, % of total value added'])

In [41]:
df_sc_pandas_final['Variable_Women, % total population'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Women, % total population'])

In [42]:
df_sc_pandas_final['Variable_Population, ages 65 and above, % total_2'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['Variable_Population, ages 65 and above, % total_2'])

In [43]:
df_sc_pandas_final['\tVariable_Life expectancy at birth'] = (df_sc_pandas_final['Value']*df_sc_pandas_final['\tVariable_Life expectancy at birth'])

In [44]:
df_sc_pandas_final

,Country,VAR,Year,Unit,Reference Period,Value,Variable_Life expectancy at birth,Variable_Net migration,Variable_Population,"Variable_Population density, inhabitants per km2",...,Variable_Real GDP,Variable_Real GDP per capita,"Variable_Total fertility rate, children per woman","Variable_Value added in agriculture, % of total value added","Variable_Value added in industry, % of total value added","Variable_Value added in services, % of total value added","Variable_Women, % total population","Variable_Population, ages 65 and above, % total_2",\tVariable_Life expectancy at birth,"(Variable_Population, ages 65 and above, % total, Variable_Real GDP)"
0,Australia,GDP_RCAP,1990,US Dollar,2015,29850.87,0.0,0.0,0.0,0.0,...,0,29850.87,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
1,Australia,GDP_RCAP,1991,US Dollar,2015,29599.13,0.0,0.0,0.0,0.0,...,0,29599.13,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
2,Australia,GDP_RCAP,1992,US Dollar,2015,30454.25,0.0,0.0,0.0,0.0,...,0,30454.25,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
3,Australia,GDP_RCAP,1993,US Dollar,2015,31386.17,0.0,0.0,0.0,0.0,...,0,31386.17,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
4,Australia,GDP_RCAP,1994,US Dollar,2015,32293.66,0.0,0.0,0.0,0.0,...,0,32293.66,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128100,American Samoa,POP_A65UP,2017,Percentage,NaN,5.20,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,27.0400,0.0,0.0
128101,American Samoa,POP_A65UP,2018,Percentage,NaN,5.47,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,29.9209,0.0,0.0
128102,American Samoa,POP_A65UP,2019,Percentage,NaN,5.75,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,33.0625,0.0,0.0
128103,American Samoa,POP_A65UP,2020,Percentage,NaN,6.06,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,36.7236,0.0,0.0
128104,American Samoa,POP_A65UP,2021,Percentage,NaN,6.41,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,41.0881,0.0,0.0

In [46]:
df_sc_pandas_final= df_sc_pandas_final.drop(columns="Reference Period")

In [47]:
df_sc_pandas_final

,Country,VAR,Year,Unit,Value,Variable_Life expectancy at birth,Variable_Net migration,Variable_Population,"Variable_Population density, inhabitants per km2","Variable_Population, ages 0-14, % total",...,Variable_Real GDP,Variable_Real GDP per capita,"Variable_Total fertility rate, children per woman","Variable_Value added in agriculture, % of total value added","Variable_Value added in industry, % of total value added","Variable_Value added in services, % of total value added","Variable_Women, % total population","Variable_Population, ages 65 and above, % total_2",\tVariable_Life expectancy at birth,"(Variable_Population, ages 65 and above, % total, Variable_Real GDP)"
0,Australia,GDP_RCAP,1990,US Dollar,29850.87,0.0,0.0,0.0,0.0,0.0,...,0,29850.87,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
1,Australia,GDP_RCAP,1991,US Dollar,29599.13,0.0,0.0,0.0,0.0,0.0,...,0,29599.13,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
2,Australia,GDP_RCAP,1992,US Dollar,30454.25,0.0,0.0,0.0,0.0,0.0,...,0,30454.25,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
3,Australia,GDP_RCAP,1993,US Dollar,31386.17,0.0,0.0,0.0,0.0,0.0,...,0,31386.17,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
4,Australia,GDP_RCAP,1994,US Dollar,32293.66,0.0,0.0,0.0,0.0,0.0,...,0,32293.66,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128100,American Samoa,POP_A65UP,2017,Percentage,5.20,0.0,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,27.0400,0.0,0.0
128101,American Samoa,POP_A65UP,2018,Percentage,5.47,0.0,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,29.9209,0.0,0.0
128102,American Samoa,POP_A65UP,2019,Percentage,5.75,0.0,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,33.0625,0.0,0.0
128103,American Samoa,POP_A65UP,2020,Percentage,6.06,0.0,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,36.7236,0.0,0.0
128104,American Samoa,POP_A65UP,2021,Percentage,6.41,0.0,0.0,0.0,0.0,0.0,...,0,0.00,0.0,0.0,0.0,0.0,0.0,41.0881,0.0,0.0

In [45]:
df_sc_pandas_final['Variable_Life expectancy at birth'].value_counts()

0.00     120688
0.08         87
72.77        11
74.61        11
77.15        10
          ...
54.69         1
54.17         1
53.73         1
52.26         1
75.16         1
Name: Variable_Life expectancy at birth, Length: 2942, dtype: int64

In [17]:
table2 = pd.pivot_table(data=df_sc_pandas,index=['Country','Variable', 'Year'])

In [18]:
table2

                                         PowerCode Code  Value   YEA
Country  Variable                  Year
ASEAN    Life expectancy at birth  1990               0  64.95  1990
                                   1991               0  65.34  1991
                                   1992               0  65.77  1992
                                   1993               0  66.21  1993
                                   1994               0  66.46  1994
...                                                 ...    ...   ...
Zimbabwe Women, % total population 2017               0  52.95  2017
                                   2018               0  52.92  2018
                                   2019               0  52.90  2019
                                   2020               0  52.87  2020
                                   2021               0  52.83  2021

[128105 rows x 3 columns]